@import "../../global";

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px #f0f0f0;
  height: 66px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  .left {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 0 32px;
    .left-left-nav {
      position: absolute;
      top: 26%;
      left: 3%;
      &:hover {
        cursor: pointer;
      }
    }
    .letf-left {
      width: 60%;
      display: none;
      align-items: center;
      a {
        text-decoration: none;
      }
      img {
        margin-right: 18px;
      }
      p {
        font-size: 1.1rem;
        font-weight: 700;
        margin: 0;
      }
    }
    .left-right {
      width: 40%;
      display: flex;
      justify-content: start;
      align-items: center;
      .search {
        position: relative;
        margin-right: 80%;
        img {
          position: absolute;
          left: 14px;
          bottom: 12px;
        }
        input {
          width: 420px;
          height: 40px;
          border: 1px solid #dce0e3;
          border-radius: 20px;
          padding: 12px 12px 12px 35px;
          font-size: 1rem;
          &:focus {
            outline: 1px solid #f05123;
            border: none;
          }
        }
      }
    }
  }
  .right {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 18px;
    img {
      border-radius: 50%;
      margin-right: 12px;
    }
    button {
      border: none;
      padding: 8px 10px;
      border-radius: 5px;
      font-size: 1rem;
      background-color: #f05123;
      color: #ffffff;
      font-weight: 700;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #f0f0f0;
    height: 66px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    .left {
      width: 80%;
      display: flex;
      justify-content: space-between;
      padding: 0 32px;
      .left-left-nav {
        display: none;
      }
      .letf-left {
        width: 60%;
        display: flex;
        align-items: center;
        img {
          margin-right: 18px;
        }
        p {
          font-size: 1.1rem;
          font-weight: 700;
          margin: 0;
        }
      }
      .left-right {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        .search {
          position: relative;
          margin-right: 80%;
          img {
            position: absolute;
            left: 14px;
            bottom: 12px;
          }
          input {
            width: 420px;
            height: 40px;
            border: 1px solid #dce0e3;
            border-radius: 20px;
            padding: 12px 12px 12px 35px;
            font-size: 1rem;
            &:focus {
              outline: 1px solid #f05123;
              border: none;
            }
          }
        }
      }
    }
    .right {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 18px;
      img {
        border-radius: 50%;
        margin-right: 12px;
      }
      button {
        border: none;
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 1rem;
        background-color: #f05123;
        color: #ffffff;
        font-weight: 700;
      }
    }
  }
}
