.body-landing {
  display: flex;
}

.view {
  position: fixed;
  top: 14%;
  width: 100vw;
  height: 100vh;
  left: 3%;
  overflow-y: scroll;
}

@media only screen and (min-width: 1280px) {
  .view {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 67px;
    left: 100px;
    overflow-y: scroll;
    padding-top: 0;
  }
}
